https://pandas.pydata.org/docs/getting_started/index.html#getting-started

**pandas** is a Python package for data anlysis and manipulation tool. Pandas offer a dataframe which is the tabular data form.

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg" width="400"/>



<p style="text-align: center;"> Fig. Dataframe from Pandas </p>

**1. Install pandas**

In [ ]:
pip install pandas

**2. Import pandas as pd**

In [116]:
import pandas as pd

**3. Create a dataframe using a dictionary**

In [117]:
name = ['Jieun', 'Sara', 'Jesse', 'Mike', 'Kim', 'Soom', 'KB']
grade = ['A', 'A+', 'B+', 'B', 'A-', 'S', 'A++']
dict_grade = {'name':name, 'grade':grade}

In [118]:
type(dict_grade)

dict

In [119]:
pd_grade = pd.DataFrame(dict_grade)

In [120]:
print(pd_grade)
type(pd_grade)

    name grade
0  Jieun     A
1   Sara    A+
2  Jesse    B+
3   Mike     B
4    Kim    A-
5   Soom     S
6     KB   A++

pandas.core.frame.DataFrame

**definition of row labels**

In [121]:
row_labels = ['JI', 'SA', 'JE', 'MI', 'KI', 'SO', 'KB']

#change row labels of pd_grade
pd_grade.index = row_labels

print(pd_grade)

     name grade
JI  Jieun     A
SA   Sara    A+
JE  Jesse    B+
MI   Mike     B
KI    Kim    A-
SO   Soom     S
KB     KB   A++

**4. CSV to DataFrame**

In [122]:
pd_grade1 = pd.read_csv('grade.csv')

In [123]:
print(pd_grade1)

    name grade country
0  Jieun     A   Korea
1   Sona    A+  Russia
2  Jesse    B+     USA
3   Mike     B  France
4    Kim    A-     USA
5   Soom     S  Brazil
6     KB   A++  Canada

In [124]:
pd_grade2 = pd.read_csv('grade with row_label.csv')

In [125]:
print(pd_grade2)

  Unnamed: 0   name grade country
0         JI  Jieun     A   Korea
1         SO   Sona    A+  Russia
2         SE  Jesse    B+     USA
3         MI   Mike     B  France
4         KI    Kim    A-     USA
5         SO   Soom     S  Brazil
6         KB     KB   A++  Canada

In [126]:
pd_grade3 = pd.read_csv('grade with row_label.csv',index_col = 0)

In [127]:
print(pd_grade3)

     name grade country
JI  Jieun     A   Korea
SO   Sona    A+  Russia
SE  Jesse    B+     USA
MI   Mike     B  France
KI    Kim    A-     USA
SO   Soom     S  Brazil
KB     KB   A++  Canada

**5. Extract data from a data frame**

In [128]:
print(pd_grade3)

     name grade country
JI  Jieun     A   Korea
SO   Sona    A+  Russia
SE  Jesse    B+     USA
MI   Mike     B  France
KI    Kim    A-     USA
SO   Soom     S  Brazil
KB     KB   A++  Canada

**Column Access:**

In [129]:
# Select a column as a Pandas Series
print(pd_grade3['name'])
name_s = pd_grade3['name']
type(name_s)

JI    Jieun
SO     Sona
SE    Jesse
MI     Mike
KI      Kim
SO     Soom
KB       KB
Name: name, dtype: object

pandas.core.series.Series

In [130]:
# Select a column as Pandas dataframe
print(pd_grade3[['name']])
name_df=pd_grade3[['name']]
type(name_df)

     name
JI  Jieun
SO   Sona
SE  Jesse
MI   Mike
KI    Kim
SO   Soom
KB     KB

pandas.core.frame.DataFrame

In [131]:
# select columns as Pandas data frame
print(pd_grade3[['grade', 'country']])
df = pd_grade3[['grade', 'country']]
type(df)

   grade country
JI     A   Korea
SO    A+  Russia
SE    B+     USA
MI     B  France
KI    A-     USA
SO     S  Brazil
KB   A++  Canada

pandas.core.frame.DataFrame

**Row Access**

In [132]:
print(pd_grade3)

     name grade country
JI  Jieun     A   Korea
SO   Sona    A+  Russia
SE  Jesse    B+     USA
MI   Mike     B  France
KI    Kim    A-     USA
SO   Soom     S  Brazil
KB     KB   A++  Canada

In [133]:
# Select first three observations from pd_grade3
print(pd_grade3[0:3])

     name grade country
JI  Jieun     A   Korea
SO   Sona    A+  Russia
SE  Jesse    B+     USA

In [134]:
# select fifth, sixth obervations
print(pd_grade3[4:6])

    name grade country
KI   Kim    A-     USA
SO  Soom     S  Brazil

**6. loc and iloc**

In [135]:
print(pd_grade3)

     name grade country
JI  Jieun     A   Korea
SO   Sona    A+  Russia
SE  Jesse    B+     USA
MI   Mike     B  France
KI    Kim    A-     USA
SO   Soom     S  Brazil
KB     KB   A++  Canada

In [136]:
# with iloc: Purely integer-location based indexing for selection by position.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [137]:
print(pd_grade3.iloc[[0]])

     name grade country
JI  Jieun     A   Korea

In [138]:
print(pd_grade3.iloc[:, [0]])   # dataframe

     name
JI  Jieun
SO   Sona
SE  Jesse
MI   Mike
KI    Kim
SO   Soom
KB     KB

In [139]:
print(pd_grade3.iloc[:, 0])  #panda series

JI    Jieun
SO     Sona
SE    Jesse
MI     Mike
KI      Kim
SO     Soom
KB       KB
Name: name, dtype: object

In [140]:
type(pd_grade3.iloc[:, 0])

pandas.core.series.Series

In [141]:
# with loc: Access a group of rows and columns by label(s) or a boolean array.

In [142]:
print(pd_grade3)

     name grade country
JI  Jieun     A   Korea
SO   Sona    A+  Russia
SE  Jesse    B+     USA
MI   Mike     B  France
KI    Kim    A-     USA
SO   Soom     S  Brazil
KB     KB   A++  Canada

In [143]:
#loc (label-based)
print(pd_grade3.loc[['JI']])

     name grade country
JI  Jieun     A   Korea

In [144]:
print(pd_grade3.loc[:, ['name']])

     name
JI  Jieun
SO   Sona
SE  Jesse
MI   Mike
KI    Kim
SO   Soom
KB     KB

**Application with loc and iloc**

In [145]:
print(pd_grade3)

     name grade country
JI  Jieun     A   Korea
SO   Sona    A+  Russia
SE  Jesse    B+     USA
MI   Mike     B  France
KI    Kim    A-     USA
SO   Soom     S  Brazil
KB     KB   A++  Canada

In [146]:
print(pd_grade3.iloc[[0]])

     name grade country
JI  Jieun     A   Korea

In [147]:
# with iloc
print(pd_grade3.iloc[:, [0,1]])

     name grade
JI  Jieun     A
SO   Sona    A+
SE  Jesse    B+
MI   Mike     B
KI    Kim    A-
SO   Soom     S
KB     KB   A++

In [148]:
print(pd_grade3.iloc[[0], [1]])

   grade
JI     A

In [149]:
# with loc
print(pd_grade3.loc[['JI','SO'], ['grade']])

   grade
JI     A
SO    A+
SO     S

In [150]:
print(pd_grade3.loc[:, ['name', 'grade' ]])

     name grade
JI  Jieun     A
SO   Sona    A+
SE  Jesse    B+
MI   Mike     B
KI    Kim    A-
SO   Soom     S
KB     KB   A++