__<span style="color:blue">File name: Introduction to Python_1.1</span>__

### I. The Python Basics

### 1. Simple Calculation

In [1]:
print(1 + 2) # Addition
print(5 - 1) # subtraction
print(4 * 3) # multiplication
print(5**2) # exponentiaion
print(10/2) # Division
print(14 % 7) # modulo: returs the remainder of the division of the number to the left by the number on its right.
print(15 % 7)

3
4
12
25
5.0
0
1

In [2]:
(1 + 2)
(5 - 1)
(4 * 3)

12

__Exercise__: Calculate $ 1 + 3 \times 5 - 10 $

In [3]:
1+(3*5)-10

6

In [4]:
1+3*5-10

6

### 2. Variables and Types

* Python has 4 types of variables. Text(String), Ingeter, Real Number(float), Boolean(true 1,false 0)
* We can check variable type using type(variable name)

In [40]:
# Create variables
a = 100
b = 'Hello'
c = True
d = 100.11
e = 0

# Check type of variables
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>

__Example__: Create a variable desc

In [41]:
desc = 'Hello'
double_desc= desc + desc
print(double_desc)

HelloHello

__Convert Python values :__
* str() : string, text
* int() : integer numbers
* float() : real numbers
* bool() : True, False

In [42]:
# Convert a variabale type
str_a   = str(a)
float_a = float(a)
int_d   = int(d)
bool_e  = bool(e)

# Check values of variables
print(str_a)
print(float_a)
print(int_d)
print(bool_e)

100
100.0
100
False

__Example__: Suppose we invest fixed deposit $ 100 with annual component interest 10\% and maturity 10years.

$$ Principle ( 1 + annual \, interest \, rate) ^ {n \, years} $$

In [35]:
# Create a variable principle
principal = 100

# Create a variable growth_multiplier (annumal compount interest is 10%)
growth_multiplier = 1.1

# Calculate result 
result = principal * (1.1 ** 10) 

# Print out result
print(result)

# Print out a sentence
print("I started with $" + str(principal) + " and now have $" + str(result) + ". Awesome!")

259.3742460100002
I started with $100 and now have $259.3742460100002. Awesome!

__<span style="color:blue">File name: Introduction to Python_1.2</span>__

## II. Python Lists

* __Lists are used to store multiple items in a single variable.__
* Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary.
* Python List can contain sublist.
* List is Square brackets [  ,  ,  , ]
* The element starts 0. 
* Index -1 means the last element in the List
* List slicing is __Listname[start : end]__
* For example, __Listname[3:5]__ , it will return 3th and 4th elements.

### 1. Lists

In [46]:
# Fruit_Price variables ($ price)
apple  = 1
orange = 1.5
persimmon = 0.9
watermelon = 8
lemon = 0.5

# Create list Fruit_Price
Fruit_Price = [apple, orange, persimmon, watermelon, lemon]

# Print Fruit_Price
print(Fruit_Price)


# Add element in the list
Fruit_Price2 = ["apple", apple, "orange", orange, "persimmon", persimmon, "watermelon", watermelon, "lemon", lemon]
print(Fruit_Price2)
print(type(Fruit_Price2))

[1, 1.5, 0.9, 8, 0.5]
['apple', 1, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'lemon', 0.5]
<class 'list'>

In [45]:
# create list of list
Fruit = [["apple", apple],
         ["orange", orange], 
         ["persimmon", persimmon], 
         ["watermelon", watermelon],
         ["lemon", lemon]]
    
print(Fruit)    
print(type(Fruit))

[['apple', 1], ['orange', 1.5], ['persimmon', 0.9], ['watermelon', 8], ['lemon', 0.5]]
<class 'list'>

In [47]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75x
bath = 9.50

# Create list areas
area = [hall, kit, liv, bed, bath]

# Print areas
print(area)

# Adapt list areas
area2 = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(area2)

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

### 2. List Slicing

In [48]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

__1) Select one element in the list__

* list_order_forward = [0, 1, 2, 3, 4, 5, .....]
* lins_order_backward = [...., -4, -3, -2, -1 ]

In [58]:
# Create the Fruit_Price list
Fruit_Price = ["apple", apple, "orange", orange, "persimmon", persimmon, "watermelon", watermelon, "lemon", lemon]

# Prsint the Fruit_Price
print(Fruit_Price)


# Print out second element from Fruit_Price
print(Fruit_Price[1])
print("An", Fruit_Price[0], " is", str(Fruit_Price[1]), "dollar.")

# Print out last element from Fruit_Price
print(Fruit_Price[-1])

# Print out the price of the persimmon
print(Fruit_Price[5])

# Print sum of apple and watermelon price as apple_watermelon
apple_watermelon = Fruit_Price[1] + Fruit_Price[-3]
print(apple_watermelon)

['apple', 1, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'lemon', 0.5]
1
An apple  is 1 dollar.
0.5
0.9
9

__2) crete list slicing__

x = ["a", "b", "c", "d"]

* x[start: end] : from the start, print out "end-start" varlables.
* x[ :2] : from the beginning, print out two variables. 
* x[2: ] : from the index=2 element, print out all element.
* x[ : ] : print out all

In [89]:
# Create the Fruit_Price list
Fruit_Price = ["apple", apple, "orange", orange, "persimmon", persimmon, "watermelon", watermelon, "lemon", lemon]

In [189]:
# Find index 
Fruit_Price.index("apple")

2

In [90]:
# Create the apple_list
list_apple = Fruit_Price[0:2]
print(list_apple)

# Another way
list_apple2 = Fruit_Price[:2]
print(list_apple2)

['apple', 1]
['apple', 1]

In [91]:
# Create list containing apple and orange
list_apple_orange = Fruit_Price[0:4]
print(list_apple_orange)

['apple', 1, 'orange', 1.5]

In [92]:
# Create list containing lemon
list_lemon = Fruit_Price[8:]
print(list_lemon)

# Another way
list_lemon2 = Fruit_Price[-2 :]
print(list_lemon2)

['lemon', 0.5]
['lemon', 0.5]

In [93]:
# Create list containing orange and persimmon
list_org_per = Fruit_Price[2:6]
print(list_org_per)

['orange', 1.5, 'persimmon', 0.9]

__3) crete list slicing2__

In [94]:
x = [["a", "b", "c"], ["d", "e", "f"], ["g", "h", "i"]]

print(x[2][0])
print(x[2][:2])

g
['g', 'h']

### 3. Manipulating Lists

__1) Updating element__

In [165]:
# Create the Fruit_Price list
Fruit_Price = ["apple", apple, "orange", orange, "persimmon", persimmon, "watermelon", watermelon, "lemon", lemon]
print(Fruit_Price)

['apple', 1, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'lemon', 0.5]

In [166]:
# update the apple price as 2
Fruit_Price[1] = 2
print(Fruit_Price)

['apple', 2, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'lemon', 0.5]

In [167]:
# update the lemon as "kiwi"
Fruit_Price[-2] = 'kiwi'
print(Fruit_Price)

['apple', 2, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'kiwi', 0.5]

In [177]:
# add pineapple data to Fruit_Price, new list is Fruit_Price_new
Fruit_Price_new = Fruit_Price + ["pineapple", 2.3]
print(Fruit_Price_new)

['apple', 2, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'kiwi', 0.5, 'pineapple', 2.3]

__2) Deleteing element__

In [178]:
print(Fruit_Price_new)

['apple', 2, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'kiwi', 0.5, 'pineapple', 2.3]

In [179]:
# delete pineapple and its price
del(Fruit_Price_new[10: ])
print(Fruit_Price_new)

['apple', 2, 'orange', 1.5, 'persimmon', 0.9, 'watermelon', 8, 'kiwi', 0.5]

In [180]:
# delete watermelon and its price
del(Fruit_Price_new[6:8])
print(Fruit_Price_new)

['apple', 2, 'orange', 1.5, 'persimmon', 0.9, 'kiwi', 0.5]

__3) Copying List__

In [181]:
Fruit_Price_Final = Fruit_Price_new

print(Fruit_Price_Final)
print(type(Fruit_Price_Final))

# if Fruit_Price_new is not list, we can conver it to list by list(Fruit_Price_new)

['apple', 2, 'orange', 1.5, 'persimmon', 0.9, 'kiwi', 0.5]
<class 'list'>

__<span style="color:blue">File name: Introduction to Python_1.3</span>__

__sorted__

In [54]:
# Create lists First and Second
First = [1, 7, 9, 10, 5]
Second = [8, 19, 21, 100, 6]

# Paste together first and secsond as Full
Full = First + Second

# print Full
print(Full)

#Sort Full in descending order
print(sorted(Full, reverse=True))

#Sort Full in aesceding order
print(sorted(Full))

[1, 7, 9, 10, 5, 8, 19, 21, 100, 6]
[100, 21, 19, 10, 9, 8, 7, 6, 5, 1]
[1, 5, 6, 7, 8, 9, 10, 19, 21, 100]

In [55]:
# Create lists Third
Third = ["A", "b", "D", "c", "X","x", "Z", "y"]

# print Full
print(Third)

#Sort Full in descending order
print(sorted(Third, reverse=True))

#Sort Full in aesceding order
print(sorted(Third))

['A', 'b', 'D', 'c', 'X', 'x', 'Z', 'y']
['y', 'x', 'c', 'b', 'Z', 'X', 'D', 'A']
['A', 'D', 'X', 'Z', 'b', 'c', 'x', 'y']

__upper__ and __lower__

In [56]:
# create a string variable
car = 'VolkswageN'

print(car)

# Use upper() on car
print(car.upper())

# Use lower() on car
print(car.lower())

VolkswageN
VOLKSWAGEN
volkswagen

__round(number, digits)__

In [57]:
print(round(1.1516, 1))
print(round(1.1516, 2))
print(round(1.1516, 3))

1.2
1.15
1.152

__len(object)__

In [72]:
var = "Hello, my name is Paw Kim"
len(var)

25

In [73]:
var = [1,2,3,4,5]
len(var)

5

In [74]:
var = (1,2,3,4,5)
len(var)

5

In [75]:
var = [1]
len(var)

1

In [76]:
var = 1
len(var)

TypeError: object of type 'int' has no len()

__count__

In [77]:
var = "Hello, my name is Paw Kim"
var.count("m")

3

In [78]:
var = [1,2,3,4,5]
var.count(2)

1

In [79]:
var = [2]
var.count(2)

1

In [80]:
var = 2
var.count(2)

AttributeError: 'int' object has no attribute 'count'

__index__

In [81]:
score = [10, 20, 30, 40, 50]

score.index(20)

1

__append__

In [82]:
score = [10, 20, 30, 40, 50]

score.append(60)

print(score)

[10, 20, 30, 40, 50, 60]

__reverse__

In [83]:
score.reverse()
print(score)

[60, 50, 40, 30, 20, 10]